easydict==1.13
matplotlib==3.9.0
pytest==8.3.4
python-dotenv==1.0.1
scikit-learn==1.6.1
tensorflow==2.16.1; sys_platform == 'darwin'
tf-keras==2.16.0; sys_platform == 'darwin'
tensorflow[and-cuda]==2.18.0; sys_platform == 'linux'
tf-keras==2.18.0; sys_platform == 'linux'
tensorflow-model-optimization==0.8.0
tqdm==4.67.1
